@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~pretty-checkbox/src/pretty-checkbox.scss";

// $primary-color: #009e6c;
$primary-color: #bc2b2c;
$border-color: #eee;
$bg-color: #f9f9f9;
$error-color: red;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ant-col {
  padding-top: 20px;
}
.ant-card{
  height: 100%;
  overflow: hidden;
  
}

.ant-card-body{
  height: 100%;
}

.ant-card-body:hover {
  background-color: rgb(226, 226, 226);
  .ant-col {
    background-color: rgb(226, 226, 226);
  }
}
.MuiDialog-paper {
  width: 400px;
  border-radius: 20px !important;
}

.form__group {
  height: 50px;
  border-radius: 15px;
  border: 0.5px solid rgb(220, 109, 109);
  width: 100%;
}

.dropdown {
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px 0 10px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 15px;
    height: 50px;
    line-height: 50px;
    color: #666666;

    &::after {
      top: calc(50% - 2px);
      right: 10px;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-top-color: #000;
      border-width: 4px;
      margin-left: -4px;
    }

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    background-color: #fff;
    z-index: 5;

    &_items {
      max-height: 210px;
      overflow-y: auto;
    }

    &_search {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $border-color;
      padding: 12px;
      outline: 0;
      background-color: $bg-color;
    }

    &_item {
      padding: 10px;
      border-bottom: 1px solid $border-color;
      font-size: 14px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: $border-color;
      }

      &.selected,
      &.selected:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

// custom

@media screen and (min-width: 1200px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: ">" !important;

    color: #ffff;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "<" !important;

    color: #ffff;
  }

  .swiper-button-next {
    right: 2 !important;
  }

  .swiper-button-prev {
    left: 8 !important;
  }
}

@media screen and (max-width: 1199px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none !important;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "<" !important;

    display: none !important;
  }
}
